doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    title Mediacomm documentation
    
    link(href='#{ assets("app.css") }' type='text/css', rel='stylesheet', media='screen,projection')
        
  body
    #app !{ app }
    
    script(src='#{ assets("vendor.js") }' type="text/javascript")
    script(src='#{ assets("app.js") }' type="text/javascript")
